# --- App Settings ---
APP_ENV=development
SECRET_KEY=secret_random_string_here

# --- Database Credentials ---
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=


DB_HOST=
DB_PORT=

REDIS_HOST=
REDIS_PORT=


DOCKER_GID=

HOST_EXPERIMENTS_ROOT=