fastapi
uvicorn
python-multipart
pydantic

sqlalchemy
uliweb-alembic
python-dotenv
pyyaml
scikit-learn
numpy
pandas
pydantic-settings
matplotlib
seaborn
celery
redis
psycopg2-binary
umap-learn
scipy
pillow
